<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
    $(document).ready(function (){ 
    var socket = io(); 
    
    $('button').click(function(e) {
    console.log("selection works")
    socket.emit('color', {color: $(this).val()})})
      
    
    socket.on('update', function(data){
    console.log("in html part");
    $('body').css("background-color",data.color)
  
    });
    })
            
    </script>
</head>
<body>
     <div class="container">
        <h1>Dinner Time!</h1>
        <button type="button" class="btn chicken btn-primary" value="blue">chicken</button>
        <button type="button" class="btn ribs btn-warning" value="yellow">ribs</button>
        <button type="button" class="btn lamb btn-danger" value="red">lamb</button>

     </div>    
        
</body>
</html>