button {
    width: 30%;
    height: 100px;
    font-size: 60px;
}
h1 {
    text-align: center;
}

.container {
    align-content: center
}

button .chicken {
    background-color: seashell;
}

button .ribs {
    background-color: red;
}

button .lamb {
    background-color: green
}